body{
    background: rgb(20, 114, 191);
}
.header {
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("https://wallpapershome.ru/images/wallpapers/gori-2560x1440-4k-hd-zima-sneg-12589.jpg");
}

.CardContainer{
    align-items: center;
    font-family: arial;
    box-shadow: 15px;
    width: 400px;
    height: 600px;
    background: #fff;
    text-align: center;
    border-radius: 15px;
}

.UserName h1{
    margin: 0px;
}
.UserName h3{
    margin: 0px;
}

.UserPhoto > img{
    align-items: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: #fff;
}
.Button{
    width: 50px;

}
